<a href="https://colab.research.google.com/github/jcj217-mc/Data_205/blob/main/Copy_of_Data205_Project_DailyArrest_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import packages
import pandas as pd
import numpy as np
import os 
import json

In [3]:
# tab-separated data into pandas data frame.
df = pd.read_csv('Crime_Year_To_Date_-_2019.csv')
# this is the revised arrest dataset which does not have tiered crime types - will use previously downloaded csv

In [4]:
df.head()

   Incident ID  Offence Code  ...  Police District Number             Location
0    201224991          2303  ...                      5D  (39.1985, -77.2561)
1    201224996          5404  ...                      6D  (39.1391, -77.1803)
2    201224993          5404  ...                      3D  (39.0507, -76.9933)
3    201224995          1399  ...                      6D  (39.1245, -77.2033)
4    201224995          9106  ...                      6D  (39.1245, -77.2033)

[5 rows x 30 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90366 entries, 0 to 90365
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Incident ID             90366 non-null  int64
 1   Offence Code            90366 non-null  int64
 2   CR Number               90366 non-null  int64
 3   Dispatch Date / Time    90366 non-null  object
 4   NIBRS Code              90366 non-null  object
 5   Victims                 90366 non-null  int64
 6   Crime Name1             90230 non-null  object
 7   Crime Name2             90230 non-null  object
 8   Crime Name3             90230 non-null  object
 9   Police District Name    90366 non-null  object
 10  Block Address           82327 non-null  object
 11  City                    89886 non-null  object
 12  State                   90366 non-null  object
 13  Zip Code                90355 non-null  float64
 14  Agency                  90366 non-null  object
 15  Place                   90366 non-null  object
 16  Sector                  90332 non-null  object
 17  Beat                    90332 non-null  object
 18  PRA                     90333 non-null  float64
 19  Address Number          82362 non-null  float64
 20  Street Prefix           4117 non-null   object
 21  Street Name             90366 non-null  object
 22  Street Suffix           1489 non-null   object
 23  Street Type             90328 non-null  object
 24  Start_Date_Time         90366 non-null  object
 25  End_Date_Time           42427 non-null  object
 26  Latitude                90366 non-null  float64
 27  Longitude               90366 non-null  float64
 28  Police District Number  90366 non-null  object
 29  Location                90366 non-null  object
dtypes: float64(5), int64(4), object(21)
memory usage: 20.7+ MB

In [ ]:
# Setting to date time and making date the index
# df.index = pd.to_datetime(df.index, dayfirst=True)
# df.head()

In [6]:
df.describe()

        Incident ID  Offence Code  ...      Latitude     Longitude
count  9.036600e+04  90366.000000  ...  90366.000000  90366.000000
mean   2.012721e+08   4272.075460  ...     38.983213    -76.922537
std    2.745720e+04   2860.022685  ...      1.948943      3.844305
min    2.012250e+08    301.000000  ...      0.000000    -77.516753
25%    2.012472e+08   2305.000000  ...     39.022084    -77.196526
50%    2.012739e+08   2610.000000  ...     39.074972    -77.104467
75%    2.012960e+08   5404.000000  ...     39.142200    -77.032272
max    2.013184e+08   9201.000000  ...     39.342046      0.000000

[8 rows x 9 columns]

In [7]:
df.shape

(90366, 30)

In [ ]:
# make datetime - can also do it at dataframe level, put datetime in dictionary 
df.arrest_date = pd.to_datetime(df.arrest_date)
df.head(1)

In [ ]:
df.info()

In [ ]:
del df['street']

In [ ]:
df.head(1)

In [ ]:
del df['last_name']

In [ ]:
df.head(1)

In [ ]:
del df['first_name']
del df['middle_name']

In [ ]:
df.head(1)

In [ ]:
# Group by offense sum
df_off = df.groupby(['offense'], as_index=False).agg({'offense': sum})
df_off

In [ ]:
df_date = df[['offense', 'arrest_date']]
df_date

In [ ]:
# Create separate columns for month day and year 
df_date.arrest_date = pd.to_datetime(df_date.arrest_date)

In [ ]:
df_date[['month', 'year']] = df_date.arrest_date.apply(lambda x: pd.Series(x.strftime("%m, %Y").split(",")))
df_date

In [ ]:
GB = df_date.groupby([(df_date.year),(df_date.month)]).sum()
GB