<a href="https://colab.research.google.com/github/jcj217-mc/Data_205/blob/main/Data205_Project_DailyArrest_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
# import packages
import pandas as pd
import numpy as np
import os 
import json

In [46]:
# tab-separated data into pandas data frame.
df = pd.read_json('https://data.montgomerycountymd.gov/resource/daily-arrests.json')
# this is the revised arrest dataset which does not have tiered crime types - will use previously downloaded csv

In [47]:
df.head()

          last_name  ...                         offense
0            HUGHES  ...     ATT-THEFT LESS THAN $100.00
1            BRYANT  ...  THEFT: $1,500 TO UNDER $25,000
2         LOPEZ SAC  ...           ASSAULT-SECOND DEGREE
3  HERNANDEZ MAJANO  ...        VIOLATE PROTECTIVE ORDER
4            NORMAN  ...           ASSAULT-SECOND DEGREE

[5 rows x 9 columns]

In [48]:
del df['street']

In [49]:
df.head(1)

  last_name first_name  ...              arrest_date                      offense
0    HUGHES    CARLTON  ...  2021-03-22T08:15:00.000  ATT-THEFT LESS THAN $100.00

[1 rows x 8 columns]

In [50]:
del df['last_name']

In [51]:
df.head(1)

  first_name middle_name  ...              arrest_date                      offense
0    CARLTON     CORNELL  ...  2021-03-22T08:15:00.000  ATT-THEFT LESS THAN $100.00

[1 rows x 7 columns]

In [54]:
del df['first_name']
del df['middle_name']

In [55]:
df.head(1)

   age           city  ...              arrest_date                      offense
0   56  SILVER SPRING  ...  2021-03-22T08:15:00.000  ATT-THEFT LESS THAN $100.00

[1 rows x 5 columns]

In [57]:
# Group by offense sum
df_off = df.groupby(['offense'], as_index=False).agg({'offense': sum})
df_off

                                              offense
0   (DRIVE, ATTEMPT DRIVE) VEH. WHILE UNDER INFLUE...
1   (DRIVING, ATT. TO DRIVE) VEH WHILE SO FAR IMPA...
2   (DRIVING, ATTEMPTING TO DRIVE) VEH. WHILE IMPA...
3   (DRIVING, ATTEMPTING TO DRIVE) VEHICLE WHILE U...
4   (DRIVING, ATTEMPTING TO DRIVE)(ATV, SNOWMOBILE...
..                                                ...
90      TRESPASS: PUBLIC AGENCY DURING BUSINESS HOURS
91                    UNAUTH REMOVAL OF MOTOR VEHICLE
92                   Urinating / Defecating in Public
93  VIOLATE PROTECTIVE ORDERVIOLATE PROTECTIVE ORD...
94  WEAR, CARRY AND TRANSPORT HANDGUN UPON THEIR P...

[95 rows x 1 columns]