<a href="https://colab.research.google.com/github/jcj217-mc/Data_205/blob/main/jj_CT_bail_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import packages
import pandas as pd
import numpy as np
import os 
import json

In [ ]:
# .json file data imported as pandas data frame
df = pd.read_json('https://data.ct.gov/resource/b674-jy6w.json')

In [ ]:
# .csv file import
# First, check  working directory
# os.getcwd()
# If need to change working directory
# os.chdir(path)
# df_1 = pd.read_csv("file name", index_col=False)

**Data Wrangling**

In [ ]:
# Evaluating initial data 
df.head()

             download_date identifier  ...      facility detainer
0  2021-03-31T00:00:00.000   ZZSZEWBR  ...  NEW HAVEN CC     NONE
1  2021-03-31T00:00:00.000   ZZHHZHJE  ...  NEW HAVEN CC     NONE
2  2021-03-31T00:00:00.000   ZZSHWZES  ...   CORRIGAN CI     NONE
3  2021-03-31T00:00:00.000   ZZRZLHZZ  ...   CHESHIRE CI     NONE
4  2021-03-31T00:00:00.000   ZZHLRJBL  ...  NEW HAVEN CC     NONE

[5 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   download_date          1000 non-null   object
 1   identifier             1000 non-null   object
 2   latest_admission_date  1000 non-null   object
 3   race                   1000 non-null   object
 4   gender                 1000 non-null   object
 5   age                    1000 non-null   int64
 6   bond_amount            1000 non-null   int64
 7   offense                1000 non-null   object
 8   facility               1000 non-null   object
 9   detainer               1000 non-null   object
dtypes: int64(2), object(8)
memory usage: 78.2+ KB

In [ ]:
# Checking data types for each column
print(df.dtypes)

download_date            object
identifier               object
latest_admission_date    object
race                     object
gender                   object
age                       int64
bond_amount               int64
offense                  object
facility                 object
detainer                 object
dtype: object

In [ ]:
df.describe()

               age   bond_amount
count  1000.000000  1.000000e+03
mean     35.110000  3.565073e+05
std      11.545614  6.079369e+05
min      16.000000  1.000000e+02
25%      26.000000  5.000000e+04
50%      33.000000  1.500000e+05
75%      42.000000  4.000000e+05
max      77.000000  6.500300e+06

In [ ]:
#Checking Shape
print(df.shape)

(1000, 10)

In [ ]:
# check dataframe type
type(df)

pandas.core.frame.DataFrame

**Checking NA/Null Values**

In [ ]:
# Check null 
df.isnull()

     download_date  identifier  ...  facility  detainer
0            False       False  ...     False     False
1            False       False  ...     False     False
2            False       False  ...     False     False
3            False       False  ...     False     False
4            False       False  ...     False     False
..             ...         ...  ...       ...       ...
995          False       False  ...     False     False
996          False       False  ...     False     False
997          False       False  ...     False     False
998          False       False  ...     False     False
999          False       False  ...     False     False

[1000 rows x 10 columns]

In [ ]:
# Null sum
df.isnull().sum()

download_date            0
identifier               0
latest_admission_date    0
race                     0
gender                   0
age                      0
bond_amount              0
offense                  0
facility                 0
detainer                 0
dtype: int64

In [ ]:
# You can drop rows or columns, not single values
# df_2.dropna() # default is row-wise
# df2.dropna(axis = 1) #column-wise.

In [ ]:
# Filling NAs
# df.fillna(0)

**Organizing Data**

In [ ]:
# change column names
# df_1 = df.rename(columns = {"existing column name 1": "new column name 1", "existing column name 2":"new column name 2"})
# df_1.head()

In [ ]:
# Create separate columns for month day and year 
# df_1.Date = pd.to_datetime(df_2.Date)
# df_2[['month', 'year']] = df_2.Date.apply(lambda x: pd.Series(x.strftime("%m, %Y").split(",")))
# df_2

In [ ]:
# Changing Date to datetime
# df_1.Date = pd.to_datetime(df_1.Date)

In [ ]:
# Examining Offense Types
df.nunique()

download_date               1
identifier               1000
latest_admission_date     464
race                        5
gender                      2
age                        58
bond_amount               347
offense                   122
facility                   17
detainer                    7
dtype: int64

In [ ]:
# Examining Offense Types
df.offense.nunique()

122

In [ ]:
# Examining Offense Types
df.offense.unique()

array(['POSSESSING CHILD PORNOGRAPH            F',
       'MURDER                                AF',
       'INJURY OR RISK OF INJURY TO MINOR      F',
       'BURGLARY, THIRD DEGREE                DF',
       'FAILURE TO APPEAR, SECOND DEGREE      AM',
       'VIOLATION OF PROBATION OR COND DISCHG',
       'STRANGULATION 2ND DEGREE              DF',
       'SEXUAL ASSAULT, FIRST DEGREE           F',
       'SALE OF HEROIN, COC BY NON-DEPENDENT', 'CRIMINAL ATTEMPT',
       'ROBBERY, FIRST DEGREE                 BF',
       'CRIM VIOL OF PROTECTIVE ORDER         DF',
       'ASSAULT, FIRST DEGREE                 BF',
       'ARREST WITHOUT WARRANT',
       'CRIMINAL POSS OF PISTOL/REVOLVER      DF',
       'TAMPERING WITH OR FABRICATING EVIDNC  DF',
       'POSSESSION OF NARCOTICS',
       'SELLING WEAPONS TO ALIENS PROHIBITED   F',
       'LARCENY, FIRST DEGREE                 BF',
       'KIDNAPPING, FIRST DEGREE              AF',
       'BURGLARY, SECOND DEGREE               CF',
       'LARCENY, SECOND DEGREE                CF',
       'SALE OF HALLUCIGEN/NARCOTIC SUBSTANCE  F',
       'RECKLESS ENDANGERMENT, SECOND DEGREE  BM', 'YOUTHFUL OFFENDER',
       'LARCENY, THIRD DEGREE                 DF',
       'CARRYING WEAPON IN A MOTOR VEHICLE     F',
       'BURGLARY, FIRST DEGREE                BF',
       'ROBBERY, THIRD DEGREE                 DF',
       'SEXUAL ASSAULT, SECOND DEGREE          F',
       'FAILURE TO APPEAR, FIRST DEGREE       DF',
       'BURGLARY, FIRST DEGREE: 53A101A(2)    BF',
       'STEALING A FIREARM                    DF',
       'ASSAULT, THIRD DEGREE                 AM',
       'ARSON, FIRST DEGREE                   AF',
       'MANSLAUGHTER, FIRST DEGREE            BF',
       'OPERATE UNDER INFLU OF LIQ OR DRUGS',
       'FORGERY, SECOND DEGREE                DF',
       'SEXUAL ASSAULT 1ST DEGREE-AGGRVTD      F',
       'SALE OF NARC/AMPHET BY NON-DEPENDENT   F',
       'ASSAULT, SECOND DEGREE                 F',
       'CRIM VIOL CIVIL PROTECTION ORDER      DF',
       'THREATENING                           AM',
       'HOME INVASION                         AF',
       'DRUG PARAPHERNALIA IN DRUG FACTORY     F',
       'ILL POSSESS CHILD PORN 3RD DEG        DF',
       'ROBBERY, SECOND DEGREE                CF',
       'ESCAPE, FIRST DEGREE                  CF',
       'INTERFERING WITH AN OFFICER           AM',
       'ASSAULT, 1ST VICTIM 60 OR OVER        BF',
       'THREATENING 1ST DEGREE                DF',
       'INCSTRUCTION UNLICENSED PERSON IN VEHICL',
       'KIDNAPPING, 2ND DEGREE                BF',
       'ROBBERY, FIRST DEGREE                BF',
       'LARCENY, SIXTH DEGREE                 CM',
       'ARSON, SECOND DEGREE                  BF', 'CONSPIRACY',
       'POSSESSION OF SHOTGUN OR SILENCER     DF',
       'CRIMINAL TRESPASS, FIRST DEGREE       AM', 'JUVENILE TRANSFER',
       'ASSAULT ON POLICE OR FIRE OFFICER     CF',
       'CRIM VIOL OF PROTECTIVE ORDER         AM',
       'CRIMINAL POSSESSION OF A PISTOL       DF',
       'INTERFERENCE WITH SEARCH',
       'UNLAWFUL RESTRAINT, SECOND DEGREE     AM',
       'VIO DEADLY WEAPON REGIST REQS         DF',
       'CRIMINAL MISCHIEF, SECOND DEGREE      AM',
       'IDENTITY THEFT 1ST DEGREE             BF',
       'CARRYING WEAPONS WITHOUT A PERMIT      F',
       'MANSLAUGHTER 2ND WITH MV (INTOX)      CF',
       'CAPITAL FELONY                         F',
       'ALTERING OR REMOVING IDENT NUMBER      F',
       'CRIMINAL MISCHIEF, FIRST DEGREE       DF', 'ARREST WARRANT',
       'INJURY/RISK OF INJURY TO MINOR- SEXUAL C',
       'ILL POSSESS CHILD PORN 2ND DEG         F',
       'STALKING, 1ST DEGREE                  DF',
       'CRIM VIOL ST CRIM RESTR ORDER         DF',
       'SEXUAL ASSAULT, THIRD DEGREE          DF',
       'COMMIT SEXUAL OFF IN ANOTHER JURIS    DF',
       'REG PERSON WHO COMM SEX VIOL OFF      DF',
       'STRANGULATION 1ST DEGREE              CF',
       'FLR KEEP NARC IN ORG CONTAINER         F', 'CREDIT CARD THEFT',
       'CARRY PIST/RVOLV W/O PERMIT', 'POSS OF ASSAULT WEAPON PROHIBITED',
       'ASSAULT 2ND, VICTIM 60 OR OVER        DF',
       'USING MACHINE GUN IN CRIME             F',
       'FAILURE TO OBEY AN OFFICER',
       'INTIMIDATION BSD BIGOTRY/BIAS         DF',
       'CRIMINAL IMPERSONATION                BM',
       'LARCENY, FOURTH DEGREE                AM',
       'SALE OF CONTROLLED SUBSTANCE           F',
       'HARASSMENT 1ST DEGREE                 DF',
       'FELONY MURDER                         AF',
       'SEXUAL ASSAULT, FOURTH DEGREE         AM',
       'FORGERY, FIRST DEGREE                 CF',
       'IL POS LRG CAP MAG OBT AF 4/13        DF',
       'DISORDERLY CONDUCT                    CM',
       'POSSESS OF HALLUC OR 4+ OZ MARIJUANA   F',
       'VIOLATE COND OF RELEASE-2ND DEG       AM',
       'MANUFACTURE OF BOMBS                  BF',
       'CRIMINAL TROVER, 1ST DEGREE            F',
       'VIOLATION OF CONDITIONS OF RELEASE',
       'UNLAWFUL RESTRAINT, FIRST DEGREE      DF',
       'ILLEGAL MANUFACTUAL OR SALE OF DRUGS',
       'IDENTITY THEFT 3RD DEGREE             DF',
       'LEAV CHILD UNSUPERV IN PUBL/MOT VEH    C',
       'BREACH OF PEACE                       BM',
       'STRANGULATION 3RD DEGREE',
       'CRIM VIOL RES ORDER                   AM',
       'MANSLAUGHTER, SECOND DEGREE           CF',
       'KIDNAPPING 1ST DEG W/ FIREARM         AF',
       'PROMOTING PROSTITUTION, FIRST DEGREE  BF',
       'ASSAULT 3RD DEGREE, VICTIM OVER 59    AM',
       'CARRYING OR SALE OF DANGEROUS WEAPON',
       'HINDERING PROSECUTION 2ND DEG',
       'PUBLIC INDECENCY                      BM',
       'FOLLOWING TOO CLOSELY', 'INTERSTATE PAROLE COMPACT',
       'COUNTERFEITING MARKER PLATES           M',
       'ASSAULT 2ND DEGREE WITH A FIREARM     DF'], dtype=object)

In [ ]:
# Group by Offense then Sum of each Type of offense
df_offense = df['offense'].value_counts()
df_offense.head(50)

VIOLATION OF PROBATION OR COND DISCHG       84
CRIM VIOL OF PROTECTIVE ORDER         DF    78
MURDER                                AF    60
ASSAULT, FIRST DEGREE                 BF    45
INJURY OR RISK OF INJURY TO MINOR      F    44
ROBBERY, FIRST DEGREE                 BF    37
SEXUAL ASSAULT, FIRST DEGREE           F    36
LARCENY, FIRST DEGREE                 BF    28
ASSAULT ON POLICE OR FIRE OFFICER     CF    26
CRIMINAL ATTEMPT                            24
CRIMINAL POSSESSION OF A PISTOL       DF    24
FAILURE TO APPEAR, FIRST DEGREE       DF    22
BURGLARY, THIRD DEGREE                DF    22
CRIMINAL POSS OF PISTOL/REVOLVER      DF    21
ASSAULT, THIRD DEGREE                 AM    21
STEALING A FIREARM                    DF    19
HOME INVASION                         AF    19
LARCENY, SECOND DEGREE                CF    15
SALE OF NARC/AMPHET BY NON-DEPENDENT   F    15
LARCENY, THIRD DEGREE                 DF    15
BURGLARY, FIRST DEGREE                BF    14
ASSAULT, SECOND DEGREE                 F    13
STRANGULATION 2ND DEGREE              DF    13
SALE OF HALLUCIGEN/NARCOTIC SUBSTANCE  F    13
BURGLARY, SECOND DEGREE               CF    12
CONSPIRACY                                  11
THREATENING                           AM    11
INTERFERING WITH AN OFFICER           AM    10
SEXUAL ASSAULT, SECOND DEGREE          F    10
JUVENILE TRANSFER                            9
SEXUAL ASSAULT 1ST DEGREE-AGGRVTD      F     9
FAILURE TO APPEAR, SECOND DEGREE      AM     8
ASSAULT, 1ST VICTIM 60 OR OVER        BF     8
INJURY/RISK OF INJURY TO MINOR- SEXUAL C     8
SALE OF HEROIN, COC BY NON-DEPENDENT         7
DRUG PARAPHERNALIA IN DRUG FACTORY     F     7
OPERATE UNDER INFLU OF LIQ OR DRUGS          6
KIDNAPPING, FIRST DEGREE              AF     6
MANSLAUGHTER, FIRST DEGREE            BF     6
TAMPERING WITH OR FABRICATING EVIDNC  DF     6
FELONY MURDER                         AF     5
CRIMINAL TRESPASS, FIRST DEGREE       AM     5
POSSESSING CHILD PORNOGRAPH            F     5
POSSESSION OF NARCOTICS                      5
CARRYING WEAPON IN A MOTOR VEHICLE     F     5
ARREST WITHOUT WARRANT                       5
YOUTHFUL OFFENDER                            4
THREATENING 1ST DEGREE                DF     4
FORGERY, SECOND DEGREE                DF     4
ROBBERY, THIRD DEGREE                 DF     4
Name: offense, dtype: int64

In [ ]:
# Group by Offense then Sum of each Type of offense
df_race = df['race'].value_counts()
df_race.head()

BLACK       432
HISPANIC    281
WHITE       281
ASIAN         4
AMER IND      2
Name: race, dtype: int64

In [ ]:
# Sum of bail amount by race
df_racebail = df.groupby(['race'], as_index=False).agg({'bond_amount': sum})
df_racebail.head()

       race  bond_amount
0  AMER IND       900000
1     ASIAN       625000
2     BLACK    193194507
3  HISPANIC     97967800
4     WHITE     63819997

In [ ]:
# Remove Column(s) by index number
df_2.drop(df_2.columns[[2]], axis=1, inplace=True,)
df_2.head(5)

In [ ]:
# Group by
df_group = df_1.groupby('Column name')
df_group.head()

In [ ]:
# Group by then sort by Date
df_3 = df_1.groupby('column name').apply(lambda x: x.sort_values('Date'))
df_3.head(30)

In [ ]:
# Group by Year Sum
df_year = df_3.groupby(['year'], as_index=False).agg({'column name': sum})
df_year.head()

In [ ]:
# Sum of avg. daily pop by month and year
df_monthyear = df_3.groupby(['year', 'month'], as_index=False).agg({'Column name': sum})
df_monthyear.head(20)

In [ ]:
# Changing column type to integer
df_monthyear['column_name'].astype(int)

**Data Visualization**

In [ ]:
# Basic Plots with Matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('classic')

In [ ]:
# matplotlib plot
import matplotlib.pyplot as plt
df_year.plot(x = 'year', grid=True)
plt.xlabel('year')
plt.ylabel('Column name')

In [ ]:
# matplotlib barplot
import matplotlib.pyplot as plt
x = df_year['year']
y = df_year['Column name']
plt.bar(x, y)
plt.xlabel('Year')
plt.ylabel('Column name')
plt.show()

**Statistics**

In [ ]:
# Multiple functions
grouped['C'].agg([np.sum, np.mean, np.std])

In [ ]:
df.groupby('A').aggregate('C').mean()

In [ ]:
df.groupby('A').C.mean()

In [ ]:
# Bootstrapping 
bootstrap = pd.DataFrame({'name_of_sampling_df': [pop.sample(100, replace = True).VARIABLE_NAME_HERE.mean() for i in range (1000)]})