<a href="https://colab.research.google.com/github/jcj217-mc/Data_205/blob/main/jj_CT_bail_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import packages
import pandas as pd
import numpy as np
import os 
import json

In [ ]:
# .json file data imported as pandas data frame
# df = pd.read_json('https://data.ct.gov/resource/b674-jy6w.json')

In [ ]:
# .csv file import
# First, check  working directory
# os.getcwd()
# If need to change working directory
# os.chdir(path)
df = pd.read_csv("Accused_Pre-Trial_Inmates_in_Correctional_Facilities.csv", index_col=False)

**Data Wrangling**

In [ ]:
# Evaluating initial data 
df.head()

  DOWNLOAD DATE  ... DETAINER
0    05/15/2020  ...                                             NONE
1    05/15/2020  ...                                             NONE
2    05/15/2020  ...                                             NONE
3    05/15/2020  ...                                             NONE
4    05/15/2020  ...                                             NONE

[5 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5348669 entries, 0 to 5348668
Data columns (total 10 columns):
 #   Column                                            Dtype
---  ------                                            -----
 0   DOWNLOAD DATE                                     object
 1   IDENTIFIER                                        object
 2   LATEST ADMISSION DATE                             object
 3   RACE                                              object
 4   GENDER                                            object
 5   AGE                                               int64
 6   BOND AMOUNT                                       int64
 7   OFFENSE                                           object
 8   FACILITY                                          object
 9   DETAINER                                          object
dtypes: int64(2), object(8)
memory usage: 408.1+ MB

In [ ]:
df.describe()

                AGE   BOND AMOUNT
count  5.348669e+06  5.348669e+06
mean   3.460928e+01  2.476835e+05
std    1.139518e+01  4.501881e+05
min    1.500000e+01  1.000000e+00
25%    2.600000e+01  3.350000e+04
50%    3.300000e+01  1.000000e+05
75%    4.200000e+01  2.500000e+05
max    8.700000e+01  9.200000e+06

In [ ]:
#Checking Shape
print(df.shape)

(5348669, 10)

In [ ]:
# check dataframe type
type(df)

pandas.core.frame.DataFrame

In [ ]:
# change column names
# df_1 = df.rename(columns = {"existing column name 1": "new column name 1", "existing column name 2":"new column name 2"})
# df_1.head()

In [ ]:
# Checking data types for each column
print(df.dtypes)

DOWNLOAD DATE                                       object
IDENTIFIER                                          object
LATEST ADMISSION DATE                               object
RACE                                                object
GENDER                                              object
AGE                                                  int64
BOND AMOUNT                                          int64
OFFENSE                                             object
FACILITY                                            object
DETAINER                                            object
dtype: object

**Addressing NA/Null Values**

In [ ]:
# Check null 
df.isnull()

         DOWNLOAD DATE  ...  DETAINER
0                False  ...                                             False
1                False  ...                                             False
2                False  ...                                             False
3                False  ...                                             False
4                False  ...                                             False
...                ...  ...                                               ...
5348664          False  ...                                             False
5348665          False  ...                                             False
5348666          False  ...                                             False
5348667          False  ...                                             False
5348668          False  ...                                             False

[5348669 rows x 10 columns]

In [ ]:
# Null sum
df.isnull().sum()

DOWNLOAD DATE                                       0
IDENTIFIER                                          0
LATEST ADMISSION DATE                               0
RACE                                                0
GENDER                                              0
AGE                                                 0
BOND AMOUNT                                         0
OFFENSE                                             0
FACILITY                                            0
DETAINER                                            0
dtype: int64

In [ ]:
# Filling NAs
# df_2.fillna(0)

**Date/Time**

In [ ]:
# Create separate columns for month day and year 
# df.Date = pd.to_datetime(df_2.Date)
# df_2[['month', 'year']] = df_2.Date.apply(lambda x: pd.Series(x.strftime("%m, %Y").split(",")))
# df_2

In [ ]:
# Changing Date to datetime
# df.Date = pd.to_datetime(df_1.Date)

**Clean/Arrange Data**

In [ ]:
# Drop rows or columns
# df.dropna() # default is row-wise
# df.dropna(axis = 1) #column-wise.

In [ ]:
# Remove Column(s) by index number
# df.drop(df_2.columns[[2]], axis=1, inplace=True,)
# df.head(5)

In [ ]:
# Group by
# df_group = df_1.groupby('Column name')
# df_group.head()

In [ ]:
# Group by then sort by Date
# df_3 = df_1.groupby('column name').apply(lambda x: x.sort_values('Date'))
# df_3.head(30)

In [ ]:
# Group by Year Sum
# df_year = df_3.groupby(['year'], as_index=False).agg({'column name': sum})
# df_year.head()

In [ ]:
# Sum of avg. daily pop by month and year
# df_monthyear = df_3.groupby(['year', 'month'], as_index=False).agg({'Column name': sum})
# df_monthyear.head(20)

In [ ]:
# Changing column type to integer
# df_monthyear['column_name'].astype(int)

In [ ]:
# Examining Unique Entries
df.nunique()

DOWNLOAD DATE                                        1659
IDENTIFIER                                          42292
LATEST ADMISSION DATE                                3084
RACE                                                    5
GENDER                                                  2
AGE                                                    72
BOND AMOUNT                                          4121
OFFENSE                                               370
FACILITY                                               62
DETAINER                                               12
dtype: int64

In [ ]:
# Examining Offense Types Only
df.OFFENSE.nunique()

370

In [ ]:
# Examining Offense Types
offense_array = df.OFFENSE.unique()
print(offense_array)

['CRIMINAL POSS OF PISTOL/REVOLVER      DF'
 'VIOLATION OF PROBATION OR COND DISCHG' 'CRIMINAL ATTEMPT'
 'CRIM VIOL OF PROTECTIVE ORDER         DF'
 'CRIM VIOL ST CRIM RESTR ORDER         DF'
 'ASSAULT 2ND, VICTIM 60 OR OVER        DF'
 'INTERFERING WITH AN OFFICER           AM'
 'LARCENY, SECOND DEGREE                CF'
 'MURDER                                AF'
 'ASSAULT, SECOND DEGREE                DF' 'ARREST WARRANT'
 'YOUTHFUL OFFENDER' 'UNLAWFUL RESTRAINT, FIRST DEGREE      DF'
 'LARCENY, FIRST DEGREE                 BF'
 'CRIMINAL TRESPASS, THIRD DEGREE       CM'
 'STALKING, 1ST DEGREE                  DF'
 'BURGLARY, THIRD DEGREE                DF'
 'SALE OF NARC/AMPHET BY NON-DEPENDENT   F'
 'ASSAULT 2ND DEGREE WITH A FIREARM     DF'
 'FORGERY, FIRST DEGREE                 CF' 'JUVENILE TRANSFER'
 'CONSPIRACY' 'SEXUAL ASSAULT, FIRST DEGREE           F'
 'ASSAULT ON POLICE OR FIRE OFFICER     CF'
 'FORGERY, SECOND DEGREE                DF'
 'ASSAULT 3RD DEGREE, VICTIM OVER 59    AM'
 'STEALING A FIREARM                    DF'
 'SEXUAL ASSAULT, SECOND DEGREE          F'
 'CRIMINAL POSSESSION OF A PISTOL       DF'
 'LARCENY, THIRD DEGREE                 DF'
 'ROBBERY, FIRST DEGREE                 BF'
 'SEXUAL ASSAULT 1ST DEGREE-AGGRVTD      F'
 'HOME INVASION                         AF'
 'BURGLARY, SECOND DEGREE               CF'
 'SALE OF HEROIN, COC BY NON-DEPENDENT'
 'INJURY OR RISK OF INJURY TO MINOR      F'
 'ARSON, FIRST DEGREE                   AF'
 'INCITING INJURY TO PERSONS OR PROPTY  CF' 'STRANGULATION 3RD DEGREE'
 'FAILURE TO APPEAR, FIRST DEGREE       DF'
 'CARRYING WEAPONS WITHOUT A PERMIT      F'
 'THREATENING                           AM'
 'RECKLESS ENDANGERMENT, FIRST DEGREE   AM'
 'ASSAULT, FIRST DEGREE                 BF'
 'ASSAULT, 1ST VICTIM 60 OR OVER        BF'
 'ROBBERY, THIRD DEGREE                 DF'
 'LARCENY, FOURTH DEGREE                AM'
 'HARASSMENT, 2ND DEGREE                CM' 'SPECIAL PAROLE'
 'VIOLATION OF CONDITIONS OF RELEASE'
 'IDENTITY THEFT 2ND DEGREE             CF'
 'STRANGULATION 2ND DEGREE              DF'
 'VIOLATE COND OF RELEASE-2ND DEG       AM' 'CRUELTY TO PERSONS'
 'ALTERING OR REMOVING IDENT NUMBER      F'
 'CRIM VIOL OF PROTECTIVE ORDER         AM'
 'POSSESSING CHILD PORNOGRAPH            F'
 'OPERATING UNDER SUSPENDED LIC OR REG.  M' 'CREDIT CARD THEFT'
 'BURGLARY, FIRST DEGREE                BF'
 'MANSLAUGHTER, SECOND DEGREE           CF'
 'EVADING RESPONSIBILITY                 M'
 'ASSAULT, THIRD DEGREE                 AM'
 'LARCENY, FIFTH DEGREE                 BM'
 'SALE OF HALLUCIGEN/NARCOTIC SUBSTANCE  F' 'ARREST WITHOUT WARRANT'
 'CRIMINAL IMPERSONATION                BM'
 'ROBBERY, SECOND DEGREE                CF' 'POSSESSION OF NARCOTICS'
 'SEX ASLT, SPOUSE/COHAB RELATIONSHIP   BF'
 'TAMPERING WITH OR FABRICATING EVIDNC  DF'
 'INJURY/RISK OF INJURY TO MINOR- SEXUAL C'
 'FAILURE TO APPEAR, SECOND DEGREE      AM'
 'FELONY MURDER                         AF'
 'PROBATION AND CONDITIONAL DISCHARGE'
 'ILL POSSESS CHILD PORN 2ND DEG         F'
 'CRIM VIOL RES ORDER                   AM'
 'STRANGULATION 1ST DEGREE              CF'
 'BURGLARY, FIRST DEGREE: 53A101A(2)    BF'
 'RECKLESS ENDANGERMENT, SECOND DEGREE  BM'
 'SELLING WEAPONS TO ALIENS PROHIBITED   F' '(REPEALED) 53-048'
 'ESCAPE FROM CUSTODY' 'KIDNAPPING, FIRST DEGREE              AF'
 'PERMIT TO SELL OR CARRY PISTOL'
 'CARRYING WEAPON IN A MOTOR VEHICLE     F'
 'CRIMINAL MISCHIEF, SECOND DEGREE      AM' '53A021'
 'BREACH OF PEACE                       BM'
 'CONVEY UNAUTHZD ITEMS INTO INST       DF'
 'MANSLAUGHTER, FIRST DEGREE, FIREARM   BF'
 'AGGAVTD SEX ASSLT-VCTM < 13YR         AF'
 'ROBBERY, FIRST DEGREE                BF'
 'MANSLAUGHTER 2ND WITH MV (INTOX)      CF'
 'CARRYING OR SALE OF DANGEROUS WEAPON'
 'CRIMINAL MISCHIEF, FIRST DEGREE       DF'
 'ASSAULT 2ND WITH MV WHILE INTOXICATED DF'
 'DRUG PARAPHERNALIA IN DRUG FACTORY     F'
 'ORGANIZED RETAIL THEFT                 F'
 'OPERATE UNDER INFLU OF LIQ OR DRUGS'
 'CAPITAL FELONY                         F'
 'PROMOTING MINOR IN OBSCENE PERFORMNCE BF'
 'CRIMINAL LIABILITY FOR ANOTHER PERSON'
 'MANSLAUGHTER, FIRST DEGREE            BF'
 'OBSCENITY                             BM'
 'IDENTITY THEFT 3RD DEGREE             DF'
 'CRIMINAL TRESPASS, SECOND DEGREE      BM'
 'ASSAULT 2ND, VICTIM 60+, WITH FIREARM DF'
 'ESCAPE, FIRST DEGREE                  CF'
 'PRIMARY OFFENSE NOT DETERMINED'
 'THREATENING 1ST DEGREE                DF'
 'NEGLG STORAGE OF A FIREARM            DF'
 'CRIMINAL TRESPASS, FIRST DEGREE       AM'
 'USING MOTOR VEHICLE W/O PERMISSION'
 'DISORDERLY CONDUCT                    CM'
 'LARCENY, SIXTH DEGREE                 CM'
 'UNLAWFUL RESTRAINT, SECOND DEGREE     AM'
 'BRIBERY OF WITNESS                    DF'
 'KIDNAPPING, 2ND DEGREE                BF'
 'SEXUAL ASSAULT, THIRD DEGREE          DF' 'CARRY PIST/RVOLV W/O PERMIT'
 'SEXUAL ASSAULT, FOURTH DEGREE         AM'
 'INTIMIDATING A WITNESS                CF'
 'CUSTODIAL INTERFERENCE, FIRST DEGREE  DF'
 'STALKING, 2ND DEGREE                  AM'
 'MANUF OR POSSESSION OF BURGLAR TOOLS  AM'
 'HARASSMENT 1ST DEGREE                 DF'
 'INTIMIDATE DUE TO BIAS 3RD DEG        AM'
 'CRIM VIOL CIVIL PROTECTION ORDER      DF'
 'EMPLOYING MINOR IN OBSCENE PERFORMNCE AF'
 'IDENTITY THEFT 1ST DEGREE             BF' 'VOYEURISM'
 'KIDNAPPING 2ND DEG W/ FIREARM         BF'
 'USING MACHINE GUN IN CRIME             F' 'FALSELY REPORTING INCIDENT'
 'OPERATE UNDER INFLU OF LIQ OR DRUGS    M'
 'ILLEGAL MANUFACTUAL OR SALE OF DRUGS'
 'THEFT FROM PERSON                      F'
 'DISSEMINATING VOYEURISTIC MATERIAL    DF'
 'CRIMINAL MISCHIEF, THIRD DEGREE       BM'
 'MISCONDUCT WITH A MOTOR VEHICLE       DF'
 'IMPORTING CHILD PORNOGRAPHY            F' 'SEARCHES AND SEIZURES'
 'POSS OF WEAPON IN A CCI               BF'
 'SALE OF CONTROLLED SUBSTANCE           F'
 'ARSON, THIRD DEGREE                   CF'
 'PROHIB ACTS RE: DRUG PARAPHERNALIA'
 'KIDNAPPING 1ST DEG W/ FIREARM         AF'
 'RECKLESS BURNING                      DF'
 'TAMPERING WITH WITNESS                DF'
 'ASSAULT, ON DOC EMPLOYEE              BF'
 'LEAV CHILD UNSUPERV IN PUBL/MOT VEH    C'
 'TRAFFICKING IN PERSONS                BF'
 'ARSON, SECOND DEGREE                  BF'
 'RECKLESS DRIVING                       M'
 'TELEPHONE FRAUD, 1ST DEGREE           BF'
 'PUBLIC INDECENCY                      BM'
 'IL POS LRG CAP MAG OBT AF 4/13        DF'
 'MANUFACTURE OF BOMBS                  BF'
 'MISREP OF SUB AS CONTROLLED SUB       DF'
 'INTIMIDATION BSD BIGOTRY/BIAS         DF'
 'BURGLARY, SECOND DEGREE WITH FIREARM  CF' 'CRUELTY TO ANIMALS'
 'VIO DEADLY WEAPON REGIST REQS         DF'
 'CRIMINAL USE OF A FIREARM             DF'
 'REG PERSON WHO COMM OFF AGAINST MINOR DF'
 'POSSESS OF HALLUC OR 4+ OZ MARIJUANA   F'
 'REG PERSON WHO COMM SEX VIOL OFF      DF'
 'INJUNCTION AND RESTRAINING ORDER'
 'FORGERY, THIRD DEGREE                 BM'
 'CRIMINAL TROVER, 1ST DEGREE            F' 'FAILURE TO OBEY AN OFFICER'
 'POSS OF ASSAULT WEAPON PROHIBITED'
 'CRIMINAL MISCHIEF, FOURTH DEGREE      CM'
 'FAILURE TO PAY OR PLEAD                M'
 'USE OF MACHINE GUN IN A CRIME  DELETED F'
 'FOLLOW TOO CLOSELY W/ INTENT TO HARASS M' 'PURGE CIVIL COMMITMENT'
 'INTERFERING WITH AN EMERGENCY CALL    AM'
 'ABUSE OF PERSONS-1ST DEGREE           CF'
 'PROMOTING PROSTITUTION, FIRST DEGREE  BF'
 'DRINKING WHILE OPERATING MOTOR VEHICL CM'
 'FLR KEEP NARC IN ORG CONTAINER         F'
 'ILLEGAL REFUSAL OF DNA TESTING'
 'BURGLARY, THIRD DEGREE WITH FIREARM   DF'
 'POSSESSION OF SHOTGUN OR SILENCER     DF'
 'HINDER PROSECUTION, FIRST DEGREE      DF' 'PROHIBITED ACTIVITIES'
 'DRUGS NEAR PROBIBITED PLACE' 'NEGLIGENT HOMICIDE W/ MOTOR VEHICLE   BM'
 'HINDERING PROSECUTION 2ND DEG'
 'PROSTITUTION                          AM'
 'POSS WEAPON ON SCHOOL GROUNDS         DF'
 'PROMOTING PROSTITUTION, SECOND DEGREE CF'
 'ILL AFFIX FRAUDULENT                   F'
 'UNLAWFUL REPRODUCTION OF CREDIT CARD  DF'
 'DRIVING WHILE LICENSE SUSP FOR DWI'
 'ILLEGAL POSSES OF SHOP LIFTING DEVICE AM'
 'ILLEGAL POSSESSION OF EXPLOSIVES       F'
 'RECEIVING STOLEN PROPERTY, LARCENY     M'
 'AFFIRMATIVE DEFENSES TO CIMINAL TRESPASS'
 'RAPE, SECOND DEGREE                   CF'
 'ILL POSSESS CHILD PORN 3RD DEG        DF'
 'CRIMINALLY NEGLIGENT HOMICIDE         AM'
 'REGULATION OF RESTRICTED SUBSTANCES' 'APPLICATION TO PURCHASE A FIREARM'
 'FOLLOWING TOO CLOSELY' 'PROHIB ACTS RE: DRUG PARA, SCHOOL'
 'ILLEGAL USE OF CREDIT CARD' 'ILL CARRY FIREARM-UI DRUGS/ALC'
 'PRACTICE OF LAW BY NON-ATTORNEYS       M'
 'MISAPPLICATION OF PROPERTY            AM'
 'CRIMINAL CONTEMPT                      M'
 'HINDERING PROSECUTION 3RD DEG         DF'
 'EVADING RESPONSIBILITY, OTHER THAN MV  M'
 'OPERATING MV W/O INSURANCE            CM' 'TEMPORARY SURRENDER'
 'CRIM DAMAGE PROPERTY 1ST DEG          DF'
 'STALKING, 3RD DEGREE                  BM'
 'IMPERSONATION OF POLICE OFFICER       DF' 'INTERSTATE PAROLE COMPACT'
 'SALE, CARRY & BRAND OF FACSIMILE'
 'POSSESS OF LT 4 OZ MJ OR CONTROLD SUB'
 'PERMITTING PROSTITUTION               AM' 'ISSUING A BAD CHECK'
 'FAILURE TO PAY WAGES' 'CREATING A PUBLIC DISTURBANCE' 'SIMPLE TRESPASS'
 'DIVERT FR STATE BENE LBR EMPLOYEES    AM'
 'INJURY TO BAGGAGE ON PUBLIC CONVEYANCE M'
 'TAMPERING W/AIRPORT OR AIRWAYS'
 'PROMOTING PROSTITUTION, THIRD DEGREE  DF'
 'INJURY TO FENCES, GATES, OTHER PROP    M'
 'ILLEGAL GAIN FROM CREDIT CARD         AM'
 'NOTICES IN SALES AGRREMENT           UM'
 'FALSELY REPORTING AN INCIDENT 2ND     AM'
 'THEFT OF POULTRY                       M' 'FAILURE TO OBEY STOP SIGN'
 '(REPEALED) 53-173' 'IL TRAFFIC IN PERSONAL ID INFO        DF'
 'SPEEDING                               M'
 'DRIVING IMPROPERLY ON MULTI-LANE HWY'
 'ABUSE OF PERSONS-2ND DEGREE           DF' 'OBTAINING DRUGS ILLEGALLY'
 'COERCION' 'COMMIT SEXUAL OFF IN ANOTHER JURIS    DF'
 'ACT OF TERRORISM-ENHANCE SENT'
 'ALLOWING PERSON UNDER 16 TO OPERATE MV M'
 'FALSE STATEMENT, 2ND DEGREE           AM'
 'INTIMIDATION BASED ON BIGOTRY/BIAS    DF' 'FORGERY RELATED'
 'HINDER PROSECUTION DEFINED             F'
 'ILL OP MV WO IGNITION DEVICE          CM'
 'UNFAIR OR DECEPTIVE PRAC OR ACT'
 'CRIMINAL MISREPRESENTATION            CF' 'STARTING OR BACKING VEHICLE'
 'IMPROPER USE OF MARKER, LICENSE, REG   M' 'EXTRADITION'
 'CRIM DAMAGE PROPERTY 2ND DEG          AM'
 'PATRONIZING A PROSTITUTE              AM'
 'ENCOURAGING THE COMMISSION OF ABORTION M'
 'COUNTERFEITING MARKER PLATES           M'
 'USE OF HIGHWAY BY PEDESTRIAN           M'
 'SHOTGUNS AND RIFLES IN VEHICLE         M'
 'FORGERY OF SYMBOLS                    AM'
 'MONEY LAUNDERING FOURTH DEGREE        AM'
 'SOLICITING RIDES FROM MOTOR VEHICLES   M'
 'IDENTITY THEFT DEFINED                DF'
 'FAILURE TO CARRY MIN INSURANCE         M'
 'FAILURE TO OBEY TRAFFIC SIGNALS' 'OPERATING MV W/O A LICENSE'
 'INTIMIDATION BSD BIGOTRY/BIAS, 1ST    CF' 'CHEATING AT GAMBLING'
 'FALSE RPT INCIDNT CONCER INJ OR DEATH DF'
 'FALSE RPT INCIDNT RESULT INJ OR DEATH DF'
 'PART OR CONS FOR EXPORT MEANS         BF'
 'DRIVING INPROPERLY ON A ONE WAY STREET I'
 'CRIMINAL TROVER, 2ND DEGREE           AM'
 'INSURANCE FRAUD                       DF'
 'PROHIB ACTS RE: CONTROLLED SUBSTANCES'
 'FAILURE TO DRIVE ON RIGHT HAND ROADWAY'
 'UNLAWFUL DISCHARGE OF FIREARMS         M'
 'EXPIRATION AND RENEWAL OF REGISTRATION M'
 'LITTERING OR DUMPING PROHIBITED' 'ROBBERY BY CARJACKING'
 'FALSE STATEMENT TO PROCURE CREDT CARD AM'
 'FALSE ENTRY BY OFFICER OR PUB AGENT   AM' 'FUGITIVE FROM JUSTICE'
 'EAVESDROPPING                         DF'
 'TRAVELING UNREASONABLY FAST            M'
 'DRIVING IMPROPERLY IN RIGHT HAND LANE' '53A223C'
 'FAILURE TO CARRY DRIVERS LICENSE       M'
 'TOWN ORDINANCE $90 OR LESS (CI)' 'PENALTY FAIL TO SUBMIT FINGERPRINTS'
 'THEFT OF NUMBER PLATE OR INSER         M' 'CRIMINAL SIMULATION'
 'LARCENY RELATED' 'TOWN ORDINANCE > $250 (VIOLTN)'
 'OBSCENITY AS TO MINORS                 F'
 'CRIMINAL LOCKOUT                      CM'
 'POSS OF ARMS OR BURG TOOLS AT NIGHT    F'
 'VIO MOTOR VEH RACING REQS             BM'
 'INCEST                                 F'
 'FRAUDULENT USE OF ATM                 CM'
 'IMPROPER TURN/STOP NO PROPER SIGN'
 'DESTRUCTION OF PROPERTY                M'
 'COMPUTER CRIME FOURTH DEGREE          AM'
 'BREACH OF PEACE 1ST DEG               DF' 'RECEIVING COMMERCIAL BRIBE'
 'FALSELY REPORTING VEHICLE THEFT        M'
 'MONEY LAUNDERING THIRD DEGREE         DF'
 'REFUSAL TO DISPERSE                    M'
 'COMPUTER CRIME FIRST DEGREE           BF'
 'WILLFUL INJURY TO PROPERTY             M'
 'PRODUCING CONTROLLED SUBS W/O LICENSE' 'ENTICING A MINOR'
 'INSANITY AS DEFENSE' 'CRIMINAL VIOL. PROTECTION ORDER       AM'
 'BRIBERY                               DF' 'ROBBERY RELATED'
 'LARCENY DEFINED' 'FAILURE REGISTER SEXUAL PURPOSE       DF'
 'RAPE, FIRST DEGREE                    BF' 'VIO REQ RE DISP OF DEAD BODY'
 'INTERFERENCE WITH SEARCH' 'OP MV W/HNDHLD TEL/MOV ELC DEV'
 'RESISTING ARREST' 'DUI .02 BAC AND UNDER 21 YRS'
 'LOITERING ON SCHOOL GROUNDS           CM'
 'INDECENT ASSAULT                       F'
 'SALE/POSS/TRAN OF ASLT WEAPON          F'
 'POSS OF UNSTAMP MARI/CONTROL SUB BY DEAL' 'LIQUOR SALES TO MINORS'
 'THEFT OF HORSE' 'TOWN ORDINANCE=$90 OR <PARKING'
 'FAILURE TO FURNISH TAX RETURN'
 'ADULTERY                              AM'
 'VIOLATION, HOME IMPROVE REGISTRATION'
 'CONTEMPT OF COURT                      M'
 'DISPERSION OF RIOTOUS ASSEMBLY         M' 'SELLING WITHOUT PERMIT'
 'MANSLAUGHTER 2ND, W/FIREARM           CF'
 'FAILURE TO CARRY AND MOUNT REFLECTORS'
 'PISTOL AND REVOLVER PERMITS            M'
 'CRIMINAL POSS BODY ARMOR              AM'
 'PERJURY                               DF'
 'ESCAPE, SECOND DEGREE                 DF'
 'MONEY LAUNDERING 2ND DEGREE           CF'
 'MISREP AGE TO ENTICE A MINOR          CF'
 'OUI MV W/CHILD PSNGR                  AM'
 'SOLIC OR ACCPT BENEFIT FOR RIGGING    AM'
 'USE OF FORCE TO DEFEND PROPERTY' 'P19-187'
 'THEFT OF UTILITY SERVICE FOR PROFIT   DF'
 'UNLAWFUL ASSEMBLY                     BM' 'FEDERAL OFFENSE'
 'SEXUAL ASSAULT, 3RD DEG W/ FIREARM    CF'
 'FAILURE TO COMPLY W/ SEAT BELTS/SYSTEM' 'USE OF MACH GUN FOR AGGR PURP'
 '(REPEALED) 53-124' 'SALE/POSS/TRAFF OF WEAPON              F'
 'MONEY LAUNDERING FIRST DEGREE         BF'
 'CUSTODIAL INTERFERENCE, 2ND DEGREE    AM' 'SEX ABUSE MINOR'
 'ASSAULT, SECOND DEGREE                 F' 'SEALED'
 'INTENT TO INJURE WITH EXPLOSIVES       F'
 'UNLAWFUL ENTRY INTO COIN MACHINE      AM'
 'INCSTRUCTION UNLICENSED PERSON IN VEHICL']

In [ ]:
# Convert Array into DataFrame
offense_df = pd.DataFrame(offense_array, columns=['Offense_Type'])
print(offense_df)

                                 Offense_Type
0    CRIMINAL POSS OF PISTOL/REVOLVER      DF
1       VIOLATION OF PROBATION OR COND DISCHG
2                            CRIMINAL ATTEMPT
3    CRIM VIOL OF PROTECTIVE ORDER         DF
4    CRIM VIOL ST CRIM RESTR ORDER         DF
..                                        ...
365  ASSAULT, SECOND DEGREE                 F
366                                    SEALED
367  INTENT TO INJURE WITH EXPLOSIVES       F
368  UNLAWFUL ENTRY INTO COIN MACHINE      AM
369  INCSTRUCTION UNLICENSED PERSON IN VEHICL

[370 rows x 1 columns]

In [ ]:
# Group by offense type, race, age, and bail amount
df_3 = df.groupby(['OFFENSE'], as_index=False).agg({'BOND AMOUNT': sum})
df_3.head()

             OFFENSE  BOND AMOUNT
0  (REPEALED) 53-048    332935000
1  (REPEALED) 53-124        10000
2  (REPEALED) 53-173       274750
3             53A021    882974836
4            53A223C       425900

In [ ]:
df_3['Offense_Total'] = df['OFFENSE'].value_counts()
df_3.head()

             OFFENSE  BOND AMOUNT  Offense_Total
0  (REPEALED) 53-048    332935000            NaN
1  (REPEALED) 53-124        10000            NaN
2  (REPEALED) 53-173       274750            NaN
3             53A021    882974836            NaN
4            53A223C       425900            NaN

# You can use the python csv module.


import csv
import random

offense_df = pd.DataFrame(offense_array, columns=['Offense_Type'])
print(offense_df)

with open('data.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(offense_df)

In [ ]:
# Successfully creating excel sheet with cell output
offense_df.to_excel("./offensedf.xlsx")

In [ ]:
# Took exported excel sheet and coded each type of offense as one of following:
# 1. Person
# 2. Property
# 3. Probation
# 4. Order (Violation of Order by Court, Police, or Municipality)
# 5. Drugs
# 6. Weapon
# 7. Juvenile
# 8. Attempt

In [ ]:
# load newly coded .csv 
df_2 = pd.read_csv("offensedf.csv", index_col=False)
df_2.head()

                               Offense_Type   Category
0  CRIMINAL POSS OF PISTOL/REVOLVER      DF     Weapon
1     VIOLATION OF PROBATION OR COND DISCHG  Probation
2                          CRIMINAL ATTEMPT    Attempt
3  CRIM VIOL OF PROTECTIVE ORDER         DF      Order
4  CRIM VIOL ST CRIM RESTR ORDER         DF      Order

In [ ]:
#inner join in python pandas

join_df = pd.merge(offense_df, df_2, on='Offense_Type', how='inner')
join_df

                                 Offense_Type   Category
0    CRIMINAL POSS OF PISTOL/REVOLVER      DF     Weapon
1       VIOLATION OF PROBATION OR COND DISCHG  Probation
2                            CRIMINAL ATTEMPT    Attempt
3    CRIM VIOL OF PROTECTIVE ORDER         DF      Order
4    CRIM VIOL ST CRIM RESTR ORDER         DF      Order
..                                        ...        ...
292  FAILURE TO CARRY DRIVERS LICENSE       M      Order
293           TOWN ORDINANCE $90 OR LESS (CI)      Order
294       PENALTY FAIL TO SUBMIT FINGERPRINTS      Order
295  THEFT OF NUMBER PLATE OR INSER         M   Property
296                       CRIMINAL SIMULATION     Person

[297 rows x 2 columns]

In [ ]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 296
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Offense_Type  297 non-null    object
 1   Category      297 non-null    object
dtypes: object(2)
memory usage: 7.0+ KB

In [ ]:
df_2['Offense_Total'] = df_2.Offense_Type.value_counts()
df_2.head()

                               Offense_Type   Category  Offense_Total
0  CRIMINAL POSS OF PISTOL/REVOLVER      DF     Weapon            NaN
1     VIOLATION OF PROBATION OR COND DISCHG  Probation            NaN
2                          CRIMINAL ATTEMPT    Attempt            NaN
3  CRIM VIOL OF PROTECTIVE ORDER         DF      Order            NaN
4  CRIM VIOL ST CRIM RESTR ORDER         DF      Order            NaN

In [ ]:
# Sum of each Type of Offense
df_offense = df['OFFENSE'].value_counts()
df_offense.head(50)

VIOLATION OF PROBATION OR COND DISCHG       624533
CRIM VIOL OF PROTECTIVE ORDER         DF    271137
INJURY OR RISK OF INJURY TO MINOR      F    244891
ASSAULT, FIRST DEGREE                 BF    215600
ROBBERY, FIRST DEGREE                 BF    199344
MURDER                                AF    181047
BURGLARY, THIRD DEGREE                DF    161058
SEXUAL ASSAULT, FIRST DEGREE           F    150423
ASSAULT ON POLICE OR FIRE OFFICER     CF    127687
CRIMINAL POSSESSION OF A PISTOL       DF    120774
FAILURE TO APPEAR, FIRST DEGREE       DF    119256
SALE OF NARC/AMPHET BY NON-DEPENDENT   F    118411
CRIMINAL POSS OF PISTOL/REVOLVER      DF    115269
HOME INVASION                         AF    114780
CRIMINAL ATTEMPT                            109950
ASSAULT, THIRD DEGREE                 AM    101047
FAILURE TO APPEAR, SECOND DEGREE      AM     94738
ASSAULT, SECOND DEGREE                DF     94226
LARCENY, FIRST DEGREE                 BF     91796
LARCENY, THIRD DEGREE                 DF     85770
INTERFERING WITH AN OFFICER           AM     84315
LARCENY, SECOND DEGREE                CF     71687
BURGLARY, FIRST DEGREE                BF     70109
STRANGULATION 2ND DEGREE              DF     62622
SALE OF HALLUCIGEN/NARCOTIC SUBSTANCE  F     61971
THREATENING                           AM     58793
POSSESSION OF NARCOTICS                      57539
STEALING A FIREARM                    DF     56530
CONSPIRACY                                   56450
BURGLARY, SECOND DEGREE               CF     51006
ROBBERY, SECOND DEGREE                CF     49934
SEXUAL ASSAULT, SECOND DEGREE          F     49878
CRIM VIOL OF PROTECTIVE ORDER         AM     38441
YOUTHFUL OFFENDER                            37936
ROBBERY, THIRD DEGREE                 DF     35246
FELONY MURDER                         AF     34322
ARREST WITHOUT WARRANT                       31576
SEXUAL ASSAULT 1ST DEGREE-AGGRVTD      F     31312
LARCENY, SIXTH DEGREE                 CM     30649
SALE OF HEROIN, COC BY NON-DEPENDENT         30107
KIDNAPPING, FIRST DEGREE              AF     28465
CRIMINAL TRESPASS, FIRST DEGREE       AM     28302
CRIM VIOL ST CRIM RESTR ORDER         DF     27847
CRIM VIOL RES ORDER                   AM     27229
DRUG PARAPHERNALIA IN DRUG FACTORY     F     25182
CARRYING WEAPON IN A MOTOR VEHICLE     F     24864
ARSON, FIRST DEGREE                   AF     24500
OPERATE UNDER INFLU OF LIQ OR DRUGS          23555
ASSAULT, 1ST VICTIM 60 OR OVER        BF     22399
MANSLAUGHTER, FIRST DEGREE            BF     21388
Name: OFFENSE, dtype: int64

In [ ]:
# Group by Offense then Sum of each race
df_race = df['RACE'].value_counts()
df_race.head()

BLACK       375056
WHITE       324737
HISPANIC    242387
ASIAN         4615
AMER IND      2324
Name: RACE, dtype: int64

In [ ]:
# Sum of bail amount by race
df_racebail = df.groupby(['RACE'], as_index=False).agg({'BOND AMOUNT': sum})
df_racebail.head()

       RACE  BOND AMOUNT
0  AMER IND    219506050
1     ASIAN    664259341
2     BLACK  93904391093
3  HISPANIC  47131683185
4     WHITE  42704358116

In [ ]:
# mean of bail amount and age by race
df_racebailmean = df.groupby(['RACE'], as_index=False).mean()
df_racebailmean.head()

       RACE        AGE    BOND AMOUNT
0  AMER IND  32.337780   94451.828744
1     ASIAN  34.905092  143934.851788
2     BLACK  32.193606  250374.320349
3  HISPANIC  32.865174  194448.065222
4     WHITE  36.398569  131504.442413

In [ ]:
# median of bail amount and age by race
df_racebailmed = df.groupby(['RACE'], as_index=False).median()
df_racebailmed.head()

       RACE  AGE  BOND AMOUNT
0  AMER IND   32        50000
1     ASIAN   32        50060
2     BLACK   29       100000
3  HISPANIC   31        95000
4     WHITE   34        50000

**Data Visualization**

In [ ]:
# Basic Plots with Matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('classic')

In [ ]:
# matplotlib plot
import matplotlib.pyplot as plt
df_year.plot(x = 'year', grid=True)
plt.xlabel('year')
plt.ylabel('Column name')

In [ ]:
# matplotlib barplot
import matplotlib.pyplot as plt
x = df_year['year']
y = df_year['Column name']
plt.bar(x, y)
plt.xlabel('Year')
plt.ylabel('Column name')
plt.show()

**Statistics**

In [ ]:
# Multiple functions
grouped['C'].agg([np.sum, np.mean, np.std])

In [ ]:
df.groupby('A').aggregate('C').mean()

In [ ]:
df.groupby('A').C.mean()

In [ ]:
# Bootstrapping 
bootstrap = pd.DataFrame({'name_of_sampling_df': [pop.sample(100, replace = True).VARIABLE_NAME_HERE.mean() for i in range (1000)]})